<!DOCTYPE html>
<html>
  <head>
    <style>
      .header1 {
        width: 100%;
        background-color: rgb(161, 161, 177); opacity: .7;
      }

      .header1 a {
        display:inline-block;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium','Arial Narrow', 'Arial', 'sans-serif';
        margin: 14px 30px;
        color: black;
      }

      .header1 a:hover {
        color: #4d4d73;
      }
      .h1 {
        display: inline;
        background-color: rgb(75 75 83);
        color: #d1d1dd;
        padding: 10px;
        border-radius: 25px;
      }

      h2 {
        font-size:28px;
      }
    </style>
  </head>
  <body>

    <div class="header1">
      <a href="/">HOME</a>
      <a href="/name">NAME</a>
      <a href="/work">WORK</a>
      <a href="/me">ME</a>
      <a href="/nothing">NOTHING</a>
    </div>

    <h1 class="h1">Page {{title}} </h1>
  </body>
</html>